<!-- src/app/components/aulas-list/aulas-list.component.html -->
<div class="container mt-3">
  <h2>Listado de Aulas</h2>
  <button mat-raised-button color="primary" routerLink="/aulas/new">Crear Nueva Aula</button>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let aula"> {{aula.id}} </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let aula"> {{aula.aula}} </td>
      </ng-container>

      <!-- Capacidad Column -->
      <ng-container matColumnDef="capacidad">
        <th mat-header-cell *matHeaderCellDef> Capacidad </th>
        <td mat-cell *matCellDef="let aula"> {{aula.capacidad}} </td>
      </ng-container>

      <!-- ubicacion Column -->
      <ng-container matColumnDef="ubicacion">
        <th mat-header-cell *matHeaderCellDef> ubicacion </th>
        <td mat-cell *matCellDef="let aula"> {{aula.ubicacion}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let aula">
          <button mat-button color="primary" (click)="editarAula(aula)">Editar</button>
          <button mat-button color="warn" (click)="eliminarAula(aula.id)">Eliminar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
